.App{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.Body{
  background-color: rgb(243, 235, 223);
  display: flex;
  border: 3px solid;
  border-radius: 16px;
  width: 50%;
  height: 70%;
  box-shadow: 4px 2px 6px 4px rgb(0, 0, 0, 0.2);
}

.Todo-List{
  width: 100%;
}